{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Test
{% endblock %}

{% block body %}
    <h1>Test !</h1>

    {# Création de varaible #}
    {% set name = "Eva" %}

    {# affichage d'une variable #}
    <h2>Bonjour {{ name }} !</h2>

    {# affichage d'une variable #}
    {% set colors = ['lightblue', 'pink', 'purple', 'darkred', 'green'] %}

    {# affichage du tableau #}
    {% for color in colors %}
        {% if loop.first %}
            <p>Première itération</p>
        {% endif %}
        <div style="color: {{ color }}">{{ color }}</div>
        <div>Position de l'élément {{ loop.index }} / {{ loop.length }}</div>

    {% endfor %}

    {# Manipulation d'objet #}
    {%
        set serie = {
        title : "Breaking Bad",
        year : 2008
    }
    %}

    {# On boucle sur l'ojet #}
    <h3>Title : {{ serie.title }}</h3>
    {% for key, val in serie %}
        <p>{{key }} : {{ val }}</p>
    {% endfor %}

    {# quelques filtres ! #}
    <h3>Filtres</h3>
    <div>{{ name | upper }} : {{ name | length }} lettres</div>
    <br>
    <div>Colors : {{ colors | join('-') }}</div>
    <br>
    <div>{{ "now" | date('Y-m-d') }}</div>

{% endblock %}
